html {
    scroll-behavior: smooth;
    background-color: antiquewhite;
    width: auto;
}

body {
    width: 75%;
    color: goldenrod;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size :8em;
    font-weight: 200;
    font-style: oblique;
    margin:0;
    padding:0;
}

h2 {
    position: sticky;
}
    
.image {
    background-image: url('img/img1.jpg');
    background-size: cover;
    background-position: center;
    position: sticky;
    top:0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
}

.header {
    min-height: 100vh;
}

.text-h1 {
    position: absolute;
    top: 50vh;
    left: 0vw;
    width: 75vw;
    margin:0;
    padding:0;

} 

.line {
    width:70vw;
    position: absolute;
    top:70vh;
    left:0vw;
    width: 75vw;
    margin: 0;
    padding: 0;
}

.text-h2 {
    position: absolute;
    top: 90vh;
    left: 0vw;
    width: 75vw;
    margin:0;
    padding:0;

}


nav {
    font-size: 1.1rem;
    margin-top: 0.1vw;
    padding: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(245, 239, 239, 0);
}

a {
    color: black-500;
    text-decoration: none;
    text-shadow: 0cm;
}

ul {
    list-style: none;
    text-align: center;
}

li{
    display: inline;
    margin-right: 2.5vw;
}



.projects {
    min-height: 100vh;
}

.about {
    min-height: 100vh;
}

.contacts {
    min-height: 100vh;
    margin: 0;
    background-color: blueviolet;
    text-align: center;
}

input, textarea, button{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 120px;
}

button {
    padding:10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

footer {
    min-height: 100vh;
    background: linear-gradient(rgb(69, 19, 118) yellow;
    text-align: center;
    position: relative;
}

button {
    border: solid burlywood;
    border-radius: 2rem;
    text-align: center;
    margin: auto;
    
}

.column {
    column-count: 2;
    column-rule: 2px grey solid;
}

.flex {
    display: flexbox;
}